[data]
{{- if regexMatch "lxplus\\d+\\.cern\\.ch" .chezmoi.fqdnHostname }}
    location = "lxplus"
    conda = ""
{{ else if regexMatch "*.cbe.vbc.ac.at" .chezmoi.fqdnHostname }}
    location = "clip"
    conda = "/software/f2022/software/mamba/24.3.0-0"
{{ else }}
    location = "desktop"
    conda = "/opt/miniconda3"
{{ end -}}
[edit]
    command = "vi"

