[data]
    # Git Credential helper
    # Values: cache, osxkeychain, libsecret, ... 
    # See also: https://git-scm.com/docs/gitcredentials
{{- if eq .chezmoi.os "darwin" -}}
    git_credential_helper = "osxkeychain"
{{ else }}
    git_credential_helper = "cache"
{{ end }}
    # powerline-go path aliases
    # Format: /eos/user/l/liko=EOS,/eos/cms/store=STORE, ...
    # See also: https://github.com/justjanne/powerline-go#readme
    powerline_path_aliases = ""
