# .bashrc
# Source global definitions

if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi

if [ -f ~/.bash_funcs ]; then
    . ~/.bash_funcs
fi

HISTTIMEFORMAT="%d/%m/%y %T "
HISTSIZE=500000
HISTFILESIZE=100000
HISTCONTROL="erasedups:ignoreboth"

shopt -s no_empty_cmd_completion
shopt -s checkwinsize
shopt -s globstar 2> /dev/null
shopt -s nocaseglob;
shopt -s cmdhist
shopt -s autocd 2> /dev/null
shopt -s dirspell 2> /dev/null
shopt -s cdspell 2> /dev/null
shopt -u progcomp 


{{- if eq .location "clip" }}
shopt -s cdable_vars
export eos="/eos/vbc/user/${USER}"
export scratch="${SCRATCHDIR}"
export store=/eos/vbc/experiments/cms/store
export CDPATH=".:${HOME}:${scratch}:${eos}:${store}/user/liko"
export PATH="/groups/hephy/cms/Tools/scripts:$PATH"
export PYTHONPATH="/groups/hephy/cms/Tools/python:$PYTHONPATH"
{{- end }}
{{- if eq .location "cern" }}
shopt -s cdable_vars
export eos="/eos/user/${USER:0:1}/${USER}"
export store=/eos/cms/store
export CDPATH=".:${HOME}:${eos}"
{{- end }}

if [ -z $PROMPT ]; then 
    if [ -f ~/.powerline-go.bash ]; then
       . ~/.powerline-go.bash
    fi

    if [ -f ~/.iterm2_shell_integration.bash ]; then
       . ~/.iterm2_shell_integration.bash
    fi
fi

{{- if eq .location "clip" }}
# Conda setup
eval "$('/software/2020/software/anaconda3/2019.10/bin/conda' 'shell.bash' 'hook' 2> /dev/null)"
{{- else if eq .location "fedora" }}
# Conda setup
eval "$('/usr/bin/conda' 'shell.bash' 'hook' 2> /dev/null)"
export EDITOR=/usr/bin/vi
{{- end }}
