# .bash_profile

if [ -f ~/.bashrc ]; then
    . ~/.bashrc
fi

export PATH="${HOME}/.local/bin:${PATH}"

{{- if eq .location "cmsconnect" }}
export SAVEPYTHONPATH=$PYTHONPATH
unset PYTHONPATH
{{- end }}
