# ~/.zprofile

# cleanup PATH @ CERN ... why ?
for p in '/usr/condabin' '/opt/puppetlabs/bin' "${HOME}/bin" '/usr/local/sbin' '/usr/sbin'
do
    PATH=${PATH/:${p}/}
done

export PATH="${HOME}/.local/bin:${PATH}"

# pyenv
export PYENV_ROOT="${HOME}/.pyenv"
# link in .local/bin - no need to expand the path
# export PATH="${PYENV_ROOT}/bin:${PATH}"

if [ -f ~/.iterm2_shell_integration.zsh ]; then
    . ~/.iterm2_shell_integration.zsh
fi
