# .zshrc 

HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
setopt appendhistory autocd beep extendedglob nomatch notify
bindkey -e

zstyle :compinstall filename '{{ .chezmoi.homedir }}/.zshrc'
autoload -Uz compinit

# pyenv init
if command -v pyenv 1>/dev/null 2>&1; then
    eval "$(pyenv init -)"
fi

# optional
# if [ -z "$PYENV_VIRTUALENV_INIT" ]; then
#    eval "$(pyenv virtualenv-init -)"
# fi

if is-at-least 5.1; then
    if [ -f ~/.powerlevel10k/powerlevel10k.zsh-theme ]; then
        . ~/.powerlevel10k/powerlevel10k.zsh-theme
    fi    
else
    if [ -f ~/.powerline-go.zsh ]; then
        . ~/.powerline-go.zsh
    fi
fi

if [ -f ~/.iterm2_shell_integration.zsh ]; then
    . ~/.iterm2_shell_integration.zsh
fi
