auto_activate_base: false
pip_interop_enabled: True

{{- if eq .location "clip" }}
envs_dirs:
  - /mnt/hephy/cms/dietrich.liko/conda/envs

pkgs_dirs:
  - /mnt/hephy/cms/dietrich.liko/conda/pkgs
{{- end }}
