# ~/.zprofile

{{- if eq .location "cern" }}
# cleanup PATH @ CERN ... why ?
for p in '/usr/condabin' '/opt/puppetlabs/bin' "${HOME}/bin" '/usr/local/sbin' '/usr/sbin'
do
    PATH=${PATH/:${p}/}
done
unset SSH_ASKPASS 
export EDITOR=vi
{{- end }}


{{- if eq .chezmoi.os "darwin" }}
# MacPorts & .local
export PATH="${HOME}/.local/bin:/opt/local/bin:$PATH"
{{- else }}
# pyenv
export PYENV_ROOT="${HOME}/.pyenv"
export PATH="${HOME}/.local/bin:${PATH}"
{{- end }}
