# .powerline-go.bash

if [ "$TERM" != "linux" ] && [ -e ~/.fancy ]; then

    [ -v $SINGULARITY_NAME ] && export SINGULARITY_NAME="" 
    [ -v $CMSSW_VERSION ] && export CMSSW_VERSION="" 

    POWERLINE_OPTS="\
        -newline \
        -condensed \
        -max-width 80 \
        -theme default \
        -hostname-only-if-ssh \
{{- if eq .location "cern" }}
        -path-aliases /eos/user/l/liko=EOS,/eos/cms/store=STORE \
{{- end }}
{{- if eq .location "clip" }}
        -path-aliases /eos/vbc/user/dietrich.liko=EOS,/eos/vbc/experiments/cms/store=STORE,/scratch-cbe/users/dietrich.liko=SCRATCH \
{{- end }}
        -cwd-max-dir-size 8 \
        -static-prompt-indicator \
        -shell-var SINGULARITY_NAME \
        -shell-var CMSSW_VERSION \
        -shell-var-no-warn-empty \
        -modules host,venv,shell-var,jobs,cwd,perms,git,exit" 

    POWERLINE_CMD="$HOME/.local/libexec/powerline-go"


    function powerline_ps1() {
        set -- ${POWERLINE_OPTS}
        PS1="$(${POWERLINE_CMD} $@ -error $? $duration -jobs $(jobs -p | wc -l) )"
    }

    PROMPT_COMMAND="powerline_ps1; $PROMPT_COMMAND"
fi
