# .bashrc
# Source global definitions

if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi

if [ -f ~/.bash_funcs ]; then
    . ~/.bash_funcs
fi

HISTTIMEFORMAT="%d/%m/%y %T "
HISTSIZE=500000
HISTFILESIZE=100000
HISTCONTROL="erasedups:ignoreboth"

shopt -s no_empty_cmd_completion
shopt -s globstar
shopt -s nocaseglob
shopt -s autocd 
shopt -s dirspell
shopt -s cdspell
shopt -s direxpand

export DIRENV_LOG_FORMAT=
eval "$(direnv hook bash)"
eval "$(starship init bash)"
