{
  "email": "Dietrich.Liko@gmail.com",
  "sso_id": null,
  "base_url": null,
  "identity_url": null,
  "ui_url": null,
  "notifications_url": null,
  "lock_timeout": 3600,
  "sync_interval": 3600,
{{- if findExecutable "pinentry-gnome3" (list "/usr/bin") }}
  "pinentry": "pinentry-gnome3",
{{ else }}
  "pinentry": "pinentry",
{{- end }}
  "client_cert_path": null
}
