# Custom layouts

{{ if .cvmfs }}
layout_cmssw() {
    if [ -z "$CMSPATH" ]; then
        echo "No CMS environment" >&2
        exit 1
    fi
    eval $(scramv1 runtime -sh)
}

layout_lcg() {
    if [ $# -ne 2 ]; then
       echo "Usage: layout lcg  <LCG_version> <platform>" >&2
       exit 1
    fi
    path="/cvmfs/sft.cern.ch/lcg/views/$1/$2/setup.sh"
    if [ -e "$path" ]; then
        . "$path"
    else
        echo "$path does not exists." >&2
        exit 1
    fi
}

layout_root() {
    if [ $# -ne 2 ]; then
       echo "Usage: layout root  <version> <platform>" >&2
       exit 1
    fi 
    path="/cvmfs/sft.cern.ch/lcg/app/releases/ROOT/$1/$2/bin/thisroot.sh"
    if [ -e "$path" ]; then
        . "$path"
    else
        echo "$path does not exist."
        exit 1
    fi
}
{{ end }}

toolbox() {
    # Check if we are inside a Toolbox container by checking /run/.toolboxenv
    if [ -e /run/.toolboxenv ]; then
        # Extract the container name from /run/.containerenv
        name=$(sed -n 's/^name="\([^"]*\)"/\1/p' /run/.containerenv)
        
        # Check if the container name matches the expected name
        if [ "$name" != "$1" ]; then
            echo "Error: This is not the '$1' toolbox. You are currently in '$name'." >&2
            exit 1
        fi
    else
        # If the toolbox environment file doesn't exist, we're outside the container
        echo "Error: You are outside of a toolbox container. Expected '$1'." >&2
        exit 1
    fi
}
